# Pre-lecture

#1

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

#2

In [2]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv')

print(df.shape)

df.head()

(391, 11)

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
0,2,admiral,Admiral,male,bird,1-27,cranky,Steep Hill,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,agent-s,Agent S,female,squirrel,7-2,peppy,DJ K.K.,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,agnes,Agnes,female,pig,4-21,uchi,K.K. House,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,al,Al,male,gorilla,10-18,lazy,Steep Hill,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,alfonso,Alfonso,male,alligator,6-9,lazy,Forest Life,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...

Definition:

Observations are the information of a person or object in each row.

Variables are the features or attributes of the observations in each columns.

#3

In [3]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv')

summary = df.describe()

print(summary)

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [6]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv')

categorical_summary = df.describe(include=['object'])

df['id'].value_counts()

id
admiral    1
mott       1
paula      1
patty      1
pate       1
          ..
eloise     1
elmer      1
ellie      1
elise      1
zucker     1
Name: count, Length: 390, dtype: int64

#4
(a) 
Non-numeric variables:

df.shape gives you the total number of rows and columns in your dataset, including both numeric and non-numeric columns.

df.describe() only summarizes numeric columns by default. If your dataset has non-numeric columns (such as text or categorical variables), these wonâ€™t appear in the summary from df.describe(). This is why you might see fewer columns in df.describe() than in df.shape.

(b)
Missing values in numeric variables:

If there are missing values (NaN) in numeric columns, df.describe() still calculates the summary statistics for those columns, but the "count" it reports will reflect only the number of non-missing values.

The "count" column in df.describe() will be less than the total number of rows (df.shape[0]) for columns that contain missing values because df.describe() excludes missing values from the calculations.

#5
An attribute stores information about an object and does not need parentheses.

a method performs an operation or calculation and needs parentheses to execute.

# summary:

1. **Dataset Exploration**:  
   You downloaded a dataset about characters from *Animal Crossing* (from [here](https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv)). We discussed how to inspect the structure and size of the dataset using pandas methods like `df.shape`, `df.info()`, and `df.head()`.

2. **Summarizing Columns**:  
   You asked how to provide simple summaries of the columns in your dataset. I explained how to use `.describe()` for numerical summaries, `.describe(include='object')` for categorical data, `.value_counts()` for specific columns, and `.isnull().sum()` for missing values.

3. **Discrepancies Between `df.shape` and `df.describe()`**:  
   We explored how `df.shape` reports the total number of rows and columns, while `df.describe()` only analyzes numeric columns and reports statistics based on non-null values. We discussed how this can lead to differences in the number of columns and the "count" values in the summary.

4. **Attributes vs. Methods**:  
   You asked about the difference between an attribute (like `df.shape`) and a method (like `df.describe()`). I explained that attributes store information about the object and are accessed without parentheses, while methods are functions that perform actions on the object and are called with parentheses.

https://chatgpt.com/share/9b5182b8-8f06-48e4-837d-41448fe07a7a

# Post-lecture

#6

1. Count: The number of non-missing (non- NaN) values in the column.

2. Mean: The average value of the column, calculated by summing all the non-missing values and dividing by the count.

3. Standard Deviation(std): A measure of the spread of the values in the column, indicating how much the values differ from the mean.

4. Min: The smallest value in the column.

5. 25% (1st Quartile): The value below which 25% of the data falls, also known as the lower quartile.

6. 50% (Median): The middle value of the column when the data is sorted, meaning 50% of the data falls below this value.

7. 75% (3rd Quartile): The value below which 75% of the data falls, also known as the upper quartile.

8. Max: The largest value in the column.

#7

#1

df.dropna() is preferred because we are keeping all columns and removing only the rows with missing values.

#2
If some rows have missing values but most of the data is complete, df.dropna() is preferred over del df['col'] because it removes only the rows with missing values and keep all columns intact. We donâ€™t use del df['col'] because we want to keep all columns.If we use del df['col'], we would be deleting an entire column, which isnâ€™t necessary when only a few rows have missing values.

#3
If a column has too many missing values and is not useful, del df['col'] is preferred over df.dropna() because it removes the entire column, keeping the rest of the dataset.We donâ€™t use df.dropna() because it would remove rows, and we might lose valuable data from other columns. When one specific column that has too many missing values, itâ€™s more efficient to remove just that column using del df['col'] and keep the rest of the data intact.

#4
Before clean-up

In [10]:
import pandas as pd

url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
df = pd.read_csv(url)

print("Missing values:\n", df.isnull().sum())
print("Dataset shape:", df.shape)

Missing values:
 survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
Dataset shape: (891, 15)

After clean-up

In [7]:
import pandas as pd

url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
df = pd.read_csv(url)


del df['deck']

df_clean = df.dropna()

print("Missing values after cleanup:\n", df_clean.isnull().sum())
print("Dataset shape after cleanup:", df_clean.shape)

Missing values after cleanup:
 survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64
Dataset shape after cleanup: (712, 14)

Justificationï¼š
    
    Column removal: The column "deck" has many missing values. If we tried to drop rows containing missing values in this column, we would lose too much data. Removing this column allows us to retain more useful rows.

    Row removal: After removing the "deck" column, the remaining columns still have some missing values (like age and embarked). Dropping rows with missing values ensures the dataset is complete and clean.

    Efficiency: This approach ensures we keep as much valuable data as possible while removing incomplete or irrelevant parts of the dataset.

    Before cleanup: The dataset will have missing values in columns like deck, age, and embarked.

    After cleanup: The dataset will have no missing values, but it will have fewer rows and the "deck" column will be removed.

#8

#1
example

In [7]:
import pandas as pd


url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

result = df.groupby("class")["age"].describe()

print(result)

        count       mean        std   min   25%   50%   75%   max
class
First   186.0  38.233441  14.802856  0.92  27.0  37.0  49.0  80.0
Second  173.0  29.877630  14.001077  0.67  23.0  29.0  36.0  70.0
Third   355.0  25.140620  12.495398  0.42  18.0  24.0  32.0  74.0

the code df.groupby("class") groups the passengers by their class, meaning that all passengers in First, Second, and Third Class will be separated into different groups.

We are selecting the "age" column from each group to focus on summarizing the age data.

the code .describe() provides summary statistics for the "age" column within each group (First, Second, and Third Class).

When using the command df.groupby("col1")["col2"].describe(), it first groups the data in the DataFrame based on the unique values in column "col1". Then, for each of these groups, it extracts the values in column "col2" and computes summary statistics for these values. 

The summary statistics include:
count: the number of non-missing values,
mean: the average of the values,
std: the standard deviation (a measure of how much the values vary),
min: the smallest value,
25%: the 25th percentile (first quartile),
50%: the 50th percentile (median),
75%: the 75th percentile (third quartile),
max: the largest value.

#2
The difference between the count in df.describe() and the count that results from df.groupby("col1")["col2"].describe() lies in how the data is grouped and summarized.

df.describe() gives the overall count for each column.

df.groupby("col1")["col2"].describe() provides separate counts for each group based on "col1", allowing you to see the distribution within each group.

#3

#A

In [1]:
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

NameError: name 'pd' is not defined

#B

In [3]:
import pandas as pd

url = "titanics.csv"
df = pd.read_csv(url)

FileNotFoundError: [Errno 2] No such file or directory: 'titanics.csv'

#c

In [2]:
import pandas as pd


url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

result = Df.groupby("class")["age"].describe()

print(result)

NameError: name 'Df' is not defined

#D

In [3]:
import pandas as pd


url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url

result = df.groupby("class")["age"].describe()

print(result)

SyntaxError: '(' was never closed (1102799880.py, line 5)

#E

In [4]:
import pandas as pd


url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

result = df.groupby("class")["age"].describle()

print(result)

AttributeError: 'SeriesGroupBy' object has no attribute 'describle'

#F

In [8]:
import pandas as pd


url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

result = df.groupby("Class")["age"].describe()

print(result)

KeyError: 'Class'

#G

In [6]:
import pandas as pd


url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

result = df.groupby(class)["age"].describe()

print(result)

SyntaxError: invalid syntax (4178111993.py, line 7)

Overall, I think it was easier to work with chatbot(chatgpt)to fix the quesitons since it would always directly gave me the solution after I typed in the code with the error, while google was more like giving me a bunch of examples and let me figure out by myself.

#9

Mostly

# Summary

**1. Loading the Titanic Dataset**
- You attempted to load the Titanic dataset using the following code:
    ```python
    url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
    df = pd.read_csv(url)
    ```
  Several errors and issues were encountered during the process:
    - **Syntax Error**: Missing a closing parenthesis in the `pd.read_csv()` function.
    - **Typo Error**: You accidentally used `Df` instead of `df` (Python is case-sensitive).
    - **KeyError**: The column name `Class` does not exist, and it should be `pclass`.

**2. Grouping and Describing Data**
- We discussed how `df.groupby("pclass")["age"].describe()` works to group the Titanic dataset by passenger class (`pclass`) and provide descriptive statistics for the `age` column.
    - You initially encountered an `AttributeError` due to a typo (`describle()` instead of `describe()`).
    - After fixing that typo, there was another issue due to using `class`, which is a Python keyword, causing a **SyntaxError**. This was resolved by using `"pclass"` as the column name.

**3. Correct Final Code**
- The final working code is:
    ```python
    import pandas as pd

    # Load the Titanic dataset
    url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
    df = pd.read_csv(url)

    # Group by 'pclass' and get descriptive statistics for the 'age' column
    result = df.groupby("pclass")["age"].describe()

    # Print the result
    print(result)
    ```
  This code groups passengers by their class (`pclass`) and provides summary statistics for the `age` column, including `count`, `mean`, `std`, `min`, `25%`, `50%`, `75%`, and `max`.

https://chatgpt.com/share/f02f73cb-0aaa-49d2-991b-539a3800dd74